:root {
    --color_fondo: #333c3b;
    --color_marron_fuerte: #43332e;
    --color_letras: #d5d5d5;
    --altura_header: 60px;
    --color_separador: #7c7b7ba1;
    --color_separador_slidebar: #0a0a0a;
}



/*Estilos cards, html contiene estilo en linea*/
.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }

  .card:hover {
    transform: translateY(-10px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

.card-img-top {
    height: 300px;
    object-fit: cover;  
    transition: transform 0.3s ease-in-out;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   background-color: #bc9960;
  }

.card-title{
 color: white;
 font-weight: bold;
 text-align: left;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-size: 1.2em;
 background-color: #bc9960;
 transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.card-text{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8em;
    font-style: italic;
    background-color: #bc9960;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}



.btn-primary{
    
    background-color: #333c3b;
    border: none;
}

.btn-hover {
    opacity: 0;
    position:  relative;
    bottom: 20px; 
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 0.3s ease-in-out, bottom 0.3s ease-in-out;
    background-color: #cecfd0;
   
    padding: 5px 1px;
    font-weight: bold;
    border: none;

    
}


.card:hover .btn-hover,
.card-img-top:hover ~ .card-body .btn-hover {
    opacity: 1;
    bottom: 10px;
   
    background-color: #cecfd0;
    animation: pulse 1s normal; 
}



/* Pulse Animation */
@keyframes pulse {
    0% {
        transform: translateX(-50%) scale(1);
    }
    50% {
        transform: translateX(-50%) scale(1.05);
    }
    100% {
        transform: translateX(-50%) scale(1);
    }
}

/****************************************/














/*Section headers*/
.header-principal{
    text-align: center;
    padding-bottom: 10px;
    position: relative;
    color: white;
}

.productos-header {
    text-align: center;
    margin: 30px 0;
    padding: 20px;
    
}

.productos-header h2 {

    border-bottom: 5px solid #cecfd0 ;

    font-size: 1.8em; 
    font-weight: bold;
    color: #cecfd0;
    font-family: 'Verdana', Geneva, Tahoma, sans-serif;
    font-style: italic;
    letter-spacing: 1pxs; 
    position: relative;
}

/****************************************/







/*Estilos carousel*/
.carousel-inner img{
    object-fit: cover;
    width: 100%;
    max-height: 800px; 
}

.carousel-caption {
    background-color: transparent; 
    padding: 10px; 
    border-radius: 5px; 

    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    text-align: center;
}

.carousel-caption h5,
.carousel-caption p {
    background-color: transparent;
    color: white; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.carousel-caption h5 {
    font-size: 2.2em;
    margin-bottom: 10px;
}
   
.carousel-caption p {
    font-size: 1.2em; /
}


.carousel-indicators 
{
    background-color: transparent;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: transparent; 
    width: 4em;
    height: 4em;
}
   
/****************************************/




















/*Responsive, viewport handler*/

/*tablets, Ipads*/
@media screen and (min-width:576px) and (max-width:799px){
     
    .carousel-inner img{
        max-height: 500px;
    }

    .productos-header h3 {
        font-size: 1.8em;
    }  
}



/*mobile*/
@media screen and (min-width:320px) and (max-width: 575px){ 
   
    .carousel-inner img{
        max-height: 350px;
    }

    .productos-header h3 {
        font-size: 1.2em;
    }

    .carousel-caption {
        top: 50%; 
        transform: translateY(-10%);
       
    }

    .carousel-caption h5 {
        font-size: 1em;
    }

    .carousel-caption p {
        font-size: 0.6em;
    }

}

/****************************************/





















/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color_fondo);
    font-family: "Sedan SC", serif;
    font-style: normal;
    font-size: 20px;
}

.header {
    position: sticky;
    top: 25px;
    margin: 0 15px;
    z-index: 1000;
    border-radius: 22px;
    background-color: rgba(255, 255, 255, 0.3);
}

footer {
    background-color: var(--color_marron_fuerte);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f0f0f0;
}

.nav-sup {
    background-color: var(--color_marron_fuerte);
    box-shadow: 5px 5px 18px rgba(0, 0, 0, .8);
    border-radius: 50px;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-sup li {
    height: 50px;
}

.nav-sup a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--color_letras);
}

.nav-sup a:hover {
    background-color: #f0f0f0;
    border-radius: 50px;
    color: #000;
}

.nav-sup li:first-child {
    margin-right: auto;
}

#logo-nav-sup {
    background: none;
    color: var(--color_letras);
}

.sidebar {
    position: fixed;
    border-radius: 10px;
    top: 75px;
    right: 15px;
    width: 65%;
    background-color: rgba(103, 79, 62, 0.2);
    box-shadow: -10px 0 10px rgba(0, 0, 0, .5);
    backdrop-filter: blur(7px);
    display: none;
    flex-direction: column;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
    border-left: 5px solid var(--color_fondo);
}

.separador {
    width: 2px;
    height: 25px;
    background-color: var(--color_separador);
    margin: 5px 0;
}

.img-empresa {
    width: 30px;
    margin: 0 10px 6px 0;
}

.material-symbols-outlined {
    margin-top: 13px;
    font-variation-settings: 'wght' 600;
    cursor: pointer;
}

.menu-button {
    margin-right: 10px;
    display: none;
}

.grid-container-footer{
    width: 100%;
    height: 90%;
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(5, auto);
    justify-content: center;
    align-content: center;

    gap: 50 px;
}

.grid-container-footer > div {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    height: 200px;
    width: 250px;
}
.logo-li {
    max-width: 100%;
    overflow: hidden;
    font-family: "Playwrite NL", cursive;
    font-style: normal;
}

.checkbox-menu{
    display: none;
}
/* Reemplazo de Js */
input[type="checkbox"]:checked + .nav-sup .sidebar {
    display: flex;
}

@media (max-width: 1110px) {
    .hideOnMobile {
        display: none;

    }

    .menu-button {
        display: block;
    }
}

@media (max-width: 400px) {
    .sidebar {
        margin-top: 10px;
        width: 50%;
    }
}
