
/*
    Paleta:
     #bc9960 
    #354048 
    #674f3e 
    #43332e 
    #333c3b
     #cecfd0 
    #546167 


*/

/*Valores default*/
*{
    margin: 0;
    padding: 0;
    background-color: #333c3b;
}



/*no hacer etiquetas generales con estilo, modificar.*/
h1, h2, h3, h5{
    color: white;
}


p{
    color: white;
}






/*Estilos para que las img se adapten a las cards y no desborden*/
/*El responsive de las cards esta directamente en el bootstrap que figura en el html, indica cuantas columnas segun tamanio*/
.card {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

.card-img-top {
    height: 300px;/*  height: 200px; este height hay que hacerlo responsive con media-querys */
    object-fit: cover;  /*creo que lo ideal es utilizar este contain, hay que conseguir que las imagenes tengan la misma resolucion o lo mas parecida*/
  }

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }

.card-title{
 color: white;
 font-weight: bold;
 text-align: left;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-size: 1.2em;
}

.card-text{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8em;
    font-style: italic;
}






/*Titulo principal*/
.header-principal{
    text-align: center;
    padding-bottom: 10px;
}


/*Header mis productos*/
.productos-header {
    text-align: center;
    margin: 30px 0;
    font-weight: bold;
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.productos-header h1 {
    font-size: 3em;
}

.productos-header h3 {
    font-size: 1.2em;
}








/*Estilos carousel, img y texto*/
.carousel-inner img{
    object-fit: cover;
    width: 100%;
    max-height: 800px; /*default*/
}

.carousel-caption {
    background-color: transparent; 
    padding: 10px; 
    border-radius: 5px; 
}

.carousel-caption h5,
.carousel-caption p {
    background-color: transparent;
    color: white; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); 
}


.carousel-indicators 
{
    background-color: transparent;
}

/*
.carousel-item{
    height: 100%;
    float:none;
}*/




















/*Responsive, viewport handler*/

/*tablets, Ipads*/
@media screen and (min-width:576px) and (max-width:799px){
     
    .carousel-inner img{
        max-height: 500px;
    }

    .productos-header h3 {
        font-size: 1.8em;
    }  
}



/*mobile*/
@media screen and (min-width:320px) and (max-width: 575px){ 
   
    .carousel-inner img{
        max-height: 350px;
    }

    .productos-header h3 {
        font-size: 1.2em;
    }

}



